* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	color: #444;
	text-align: center;
	line-height: 1.5;
}

nav,
footer {
	padding: 1% 0;
	background-color: #aaa;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

header {
	padding: 5% 0;
	text-align: right;
	font-family: 'Poiret One', cursive;
}

section {
	min-height: 200px;
	padding: 6% 0;
	background-color: #bbb;
}

section:nth-child(even) {
	background-color: #ddd;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.row {
	display: flex;
}

.column {
	flex: 33.33%;
	padding: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}
